
html, body {
  margin : 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f6f6f6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid #999;
}

.drawing-app {
  display: flex;
  flex-direction: column;
}

.drawing-app canvas {
  margin-bottom: 8px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav-container .btn {
  flex-grow: 1;
  margin-bottom: 8px;
}

.btn {
  border: 3px solid #222;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  background-color: #f6f6f6;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: #222;
  color: #f6f6f6;
  border-color: #f6f6f6;
  cursor: pointer;
}

.btn:disabled {
  border: 3px solid #999;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  background-color: #eaeaea;
  transition: all 150ms ease-in-out;
}

.btn:disabled:hover {
  background-color: #eaeaea;
  color: #bcbcbc;
  border-color: #bcbcbc;
  cursor: not-allowed;
}