
html, body {
  margin : 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f6f6f6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid #999;
  cursor: none;
  max-width: 100%;
}

.drawing-app {
  display: flex;
  flex-direction: column;
}

.drawing-app canvas {
  margin-bottom: 8px;
}

.cursor {
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  pointer-events: none;
  opacity: 0;
}

.guess-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255.0, 255.0, 255.0, 0.8);
  visibility: hidden;
}

.guess-modal .guess-pretex {
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  margin: 32px 0px;
  color: #222;
  padding: 8px;
}

.guess-modal .guess {
  font-family: 'Courier New', Courier, monospace;
  font-size: 42px;
  font-weight: bold;
  margin: 0px 0px 32px 0px;
  color: #fafafa;
  background-color: #222;
  padding: 8px 16px;
}


.nav-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav-container .btn {
  flex-grow: 1;
  margin-bottom: 8px;
}

.btn {
  border: 3px solid #222;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  background-color: #f6f6f6;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: #222;
  color: #f6f6f6;
  border-color: #f6f6f6;
  cursor: pointer;
}

.btn:disabled {
  border: 3px solid #999;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  background-color: #eaeaea;
  transition: all 150ms ease-in-out;
}

.btn:disabled:hover {
  background-color: #eaeaea;
  color: #bcbcbc;
  border-color: #bcbcbc;
  cursor: not-allowed;
}